@mixin easy-schema-form-row {
  .object-schema-form {
    .object-schema-form-item {
      margin-right: 20px;
    }
    display: flex;

    .item-label {
      width: auto;
    }
  }
}

@mixin clickable-table {
  .ant-table-tbody {
    tr.ant-table-row {
      cursor: pointer;
    }
  }
}

body {
  background: #f5f5f5;

  .ant-message {
    z-index: 2010; // 覆盖sql编辑器全屏模式
  }
}
